* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  min-height: 100vh;
  background: linear-gradient(155deg, purple, black);
}
header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 15vh;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 7rem;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 3rem;
  width: 100%;
  height: 10vh;
}
