/* input bar  */
form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
/* text Area */

#textArea_bar {
  width: 24rem;
  height: 4rem;

  box-shadow: 2px 2px 8px black;
  border: 1px solid rgb(41, 40, 40);
  background-color: rgb(41, 40, 40);
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: white;
  text-shadow: 2px 2px 8px black;
}
/* submit button */
#submit_question {
  font-size: 0.8rem;
  border: 0.5px solid black;
  box-shadow: 2px 2px 8px black;
  letter-spacing: 5px;
  padding: 1rem 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px black;
  background-color: rgb(238, 9, 238);
  color: white;
}
textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgba(248, 5, 228, 0.5);
  border-radius: 4px;
}

textarea::-webkit-scrollbar-track {
  background-color: #1a191a;
}

#submit_question:hover {
  cursor: pointer;
}

/* Icons */
#image_icon {
  position: absolute;
  bottom: 3.9rem;
  left: 2rem;
}
#image_icon:hover {
  cursor: pointer;
}
#mic_icon {
  position: absolute;
  bottom: 3.9rem;
  right: 2rem;
}
#mic_icon:hover {
  cursor: pointer;
}

@media screen and (min-width: 344px) and (max-width: 344px) {
  #textArea_bar {
    width: 20rem;
  }
  /* submit button */
  #submit_question {
    width: 20rem;
  }
}
@media screen and (min-width: 375px) and (max-width: 375px) {
  #textArea_bar {
    width: 20rem;
  }
  /* submit button */
  #submit_question {
    width: 20rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 768px) {
  #textArea_bar {
    width: 30rem;
  }
  /* submit button */
  #submit_question {
    width: 30rem;
  }
}
@media screen and (min-width: 820px) and (max-width: 820px) {
  #textArea_bar {
    width: 30rem;
    height: 8vh;
  }
  /* submit button */
  #submit_question {
    width: 30rem;
    height: 5vh;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1024px) {
  #textArea_bar {
    width: 35rem;
    height: 6vh;
    font-size: 2rem;
    text-align: center;
    padding: 5px 5px;
  }
  /* submit button */
  #submit_question {
    font-size: 1.5rem;
    width: 35rem;
    height: 6vh;
  }
}
