/* Mobile responsive */
/* Navbar flex  */
nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(41, 40, 40);
  border: 2px solid rgb(41, 40, 40);
  box-shadow: 2px 2px 8px black;
  width: 100%;
  height: 8vh;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
}
/* hamburger sign in nav positioning */
#hamburger_sign {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  font-size: 1.5rem;
  color: white;
}
#hamburger_sign:hover {
  cursor: pointer;
}
/* nav logo sign and positioning */
.nav-logo {
  border-radius: 5rem;
  height: 60px;
  margin-top: 0.25rem;
  margin-right: 0.5rem;
}

ul {
  position: absolute;
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;

  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 25px;
}

li {
  list-style: none;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 5px;
}

#link_wrapper{
  margin-top: 1rem;
}

a {
  color: white;
  font-size: 0.8rem;
  text-decoration: none;
  text-shadow: 2px 2px 8px black;
  font-family: "Times New Roman", Times, serif;
}
a:hover {
  cursor: pointer;
  background-color: rgb(238, 9, 238);
  border: 0.5px solid black;
  padding: 0.5rem 0.5rem;
  box-shadow: 2px 2px 8px black;
}

#top_list {
  margin-top: 1rem;
  color: white;
  text-shadow: 2px 2px 8px black;
}

ul.open {
  height: 92vh;
  padding: 0 0.5rem;
  max-width: 100%;
  width: 80vw;
  position: absolute;
  top: 4.69rem;
  left: -0.1rem;

  display: flex;
  flex-direction: column;

  background-color: rgb(41, 40, 40);
  box-shadow: 2px 2px 8px black;

  /* 🔹 animation end state */
  opacity: 1;
  transform: translateX(0);
}

ul.close {
  /* 🔹 animation start state */
  height: 92vh;
  max-width: 100%;
  width: 80vw;
  position: absolute;
  top: 4.6rem;
  left: -0.1rem;

  display: flex;
  flex-direction: column;

  background-color: rgb(41, 40, 40);
  box-shadow: 2px 2px 8px black;

  opacity: 0;
  transform: translateX(-100%);
  pointer-events: none;
}

@media screen and (min-width: 1300px) {
  nav {
    height: 10vh;
  }

  ul.open {
    height: 92vh;
    max-width: 100%;
    width: 15vw;
    position: absolute;
    top: 5.7rem;
    left: -0.1rem;

    display: flex;
    flex-direction: column;

    background-color: rgb(41, 40, 40);
    box-shadow: 2px 2px 8px black;

    /* 🔹 animation end state */
    opacity: 1;
    transform: translateX(0);
  }

  #hamburger_sign {
    position: fixed;
    top: 1.5rem;
    left: 2rem;
    font-size: 2rem;
    color: white;
  }

  .nav-logo {
    border-radius: 5rem;
    height: 60px;
    margin-top: 0.75rem;
    margin-right: 1.5rem;
  }
  ul.close {
    /* 🔹 animation start state */
    height: 92vh;
    max-width: 100%;
    width: 15vw;
    position: absolute;
    top: 5.7rem;
    left: -0.1rem;

    display: flex;
    flex-direction: column;

    background-color: rgb(41, 40, 40);
    box-shadow: 2px 2px 8px black;

    opacity: 0;
    transform: translateX(-100%);
    pointer-events: none;
  }
}
