/* span wrapper felx column */
.span_wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 20rem;
  left: .5rem;
  flex-direction: column;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  opacity: 1;
  transition: opacity 1s ease; /* fade transition */
}

/* Fade in */

/* Fade out */
.fade-out {
  opacity: 0;
}

/* span Welcome */
#span1 {
  color: white;
  text-shadow: 2px 2px 8px black;
 
  letter-spacing: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/* span to */
#span2 {
  color: white;
  text-shadow: 2px 2px 8px black;
  
  letter-spacing: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/* span ExplainThis.Dev */
#span3 {
  color: white;
  text-shadow: 2px 2px 8px black;
 
  letter-spacing: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
