[phases.setup]
# nixpacks.toml inside your /Server folder
providers = ["node", "python"]

nixPkgs = ["nodejs", "python311"]

[phases.install]
cmds = ["npm install", "pip install -r requirements.txt"]

[start]
cmd = "node server.js"